In [1]:
import sqlite3

In [2]:
db = sqlite3.connect("mohit.db")

In [4]:
db

In [6]:
c = db.cursor()

In [7]:
c.execute('create table johan(name text, batch id int, marks real)')

In [12]:
c.execute("insert into johan values('mohit',5657,451.32)")
c.execute("insert into johan values('mohit',5698,401.67)")
c.execute("insert into johan values('mohit',5678,451.67)")
c.execute("insert into johan values('mohit',5678,451.67)")
c.execute("insert into johan values('mohit',5678,451.67)")
c.execute("insert into johan values('mohit',5678,451.67)")
c.execute("insert into johan values('mohit',5678,451.67)")
c.execute("insert into johan values('mohit',5678,451.67)")

In [15]:
data = c.execute("select * from johan")

In [16]:
for i in data:
    print(i)

('mohit', 5678, 451.67)
('mohit', 5657, 451.32)
('mohit', 5698, 401.67)
('mohit', 5678, 451.67)
('mohit', 5678, 451.67)
('mohit', 5678, 451.67)
('mohit', 5678, 451.67)
('mohit', 5678, 451.67)
('mohit', 5678, 451.67)

In [17]:
db.commit()

In [18]:
db.close()

In [26]:
db = sqlite3.connect("mohit.db")

In [27]:
c = db.cursor()

In [32]:
data = c.execute("select * from johan where marks > 450")

In [33]:
for i in data:
    print(i)

('mohit', 5678, 451.67)
('mohit', 5657, 451.32)
('mohit', 5678, 451.67)
('mohit', 5678, 451.67)
('mohit', 5678, 451.67)
('mohit', 5678, 451.67)
('mohit', 5678, 451.67)
('mohit', 5678, 451.67)

In [30]:
data = c.execute("select name, marks from johan")

In [31]:
for i in data:
    print(i)

('mohit', 451.67)
('mohit', 451.32)
('mohit', 401.67)
('mohit', 451.67)
('mohit', 451.67)
('mohit', 451.67)
('mohit', 451.67)
('mohit', 451.67)
('mohit', 451.67)

In [35]:
data = c.execute("select name, marks from johan order by marks")

In [36]:
for i in data:
    print(i)

('mohit', 401.67)
('mohit', 451.32)
('mohit', 451.67)
('mohit', 451.67)
('mohit', 451.67)
('mohit', 451.67)
('mohit', 451.67)
('mohit', 451.67)
('mohit', 451.67)

In [37]:
db.close()

In [40]:
db = sqlite3.connect("person.db")

In [41]:
c = db.cursor()

In [44]:
c.execute("create table person1 (name text, emailid text, age int, salary real)")

In [47]:
c.execute("insert into person1 values('lucky','luc23@gmail.com',234,30000)")
c.execute("insert into person1 values('sonu','sonu23@gmail.com',134,20000)")
c.execute("insert into person1 values('chinnu','chinnu23@gmail.com',334,25000)")
c.execute("insert into person1 values('minue','minu23@gmail.com',434,40000)")

In [48]:
data = c.execute("select * from person1")

In [49]:
for i in data:
    print(i)

('lucky', 'luc23@gmail.com', 234, 30000.0)
('sonu', 'sonu23@gmail.com', 134, 20000.0)
('chinnu', 'chinnu23@gmail.com', 334, 25000.0)
('minue', 'minu23@gmail.com', 434, 40000.0)

In [50]:
db.commit()

In [51]:
db.close()

In [53]:
db = sqlite3.connect('mohit.db')

In [54]:
c = db.cursor()

In [55]:
c.execute('drop table johan')

In [56]:
c.execute("select * from johan")

OperationalError: no such table: johan

In [58]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 2EBA-6258

 Directory of C:\Users\golu

25-03-2022  08:02    <DIR>          .
25-03-2022  08:02    <DIR>          ..
18-01-2022  13:53    <DIR>          .android
08-12-2021  21:25    <DIR>          .conda
08-12-2021  19:43                43 .condarc
24-10-2021  07:53               195 .gitconfig
25-03-2022  07:30    <DIR>          .ipynb_checkpoints
10-11-2020  21:04    <DIR>          .ipython
08-01-2022  10:42    <DIR>          .jupyter
23-06-2021  12:32    <DIR>          .matplotlib
31-12-2020  07:09    <DIR>          .openshot_qt
28-11-2021  06:36                33 .python_history
23-03-2022  19:45    <DIR>          __pycache__
12-03-2022  13:18            78,564 12 march.ipynb
13-03-2022  11:59            30,111 13 march.ipynb
27-01-2022  20:04    <DIR>          3D Objects
17-01-2022  14:19    <DIR>          anaconda3
10-03-2022  22:09             4,891 Assestment_15.ipynb
15-03-2022  10:47            11,361 Assigment_16.ipynb
15-03-2022  12:10             9,835 Assignment_17.ipynb
24-03-2022  04:30             5,161 Assignment_18.ipynb
25-03-2022  05:51            47,955 connected mongodb to python.ipynb
30-12-2020  06:22    <DIR>          Contacts
28-02-2022  05:39    <DIR>          Desktop
20-03-2022  08:32    <DIR>          Documents
25-03-2022  05:52    <DIR>          Downloads
30-12-2020  06:22    <DIR>          Favorites
24-02-2021  13:10    <DIR>          files
15-03-2022  09:35           333,888 files.xlsx
15-03-2022  09:35           333,888 files2.xlsx
25-03-2022  07:45                 0 johan.db
30-12-2020  06:22    <DIR>          Links
10-12-2021  21:37    <DIR>          logging
02-01-2021  07:40    <DIR>          Microsoft
10-12-2021  06:35    <DIR>          mohit
25-03-2022  08:00             8,192 mohit.db
30-12-2020  06:22    <DIR>          Music
09-08-2021  20:10    <DIR>          OneDrive
25-03-2022  07:51                 0 persion.db
25-03-2022  07:58             8,192 person.db
30-12-2020  06:22    <DIR>          Pictures
05-03-2022  05:56    <DIR>          PycharmProjects
30-12-2020  06:22    <DIR>          Saved Games
17-08-2021  06:13    <DIR>          seaborn-data
30-12-2020  06:22    <DIR>          Searches
21-03-2022  17:51                51 smr.txt
25-03-2022  08:02            10,609 sqllite connection with python.ipynb
21-03-2022  17:48                 0 test.txt
17-01-2022  11:15    <DIR>          Untitled Folder
15-03-2022  09:46            18,278 Untitled.ipynb
23-03-2022  04:44           158,874 Untitled1.ipynb
20-03-2022  10:45             6,068 Untitled2.ipynb
23-03-2022  06:52            16,813 Untitled3.ipynb
24-03-2022  19:14           147,347 Untitled4.ipynb
30-11-2021  07:45    <DIR>          Videos
23-03-2022  20:30                50 zoo.py
              25 File(s)      1,230,399 bytes
              31 Dir(s)  807,457,255,424 bytes free

In [59]:
db.close()

In [61]:
db = sqlite3.connect('person1.db')

In [62]:
c = db.cursor()